body{
  background-image: url("skelly.jpg");
  background-size: cover;
  background-position: center;
    
    



}



.title{
    text-align: center;
    font-size: 100px;
    color:  #f2f1e3;
    opacity: 0.2;
    font-family: 'Merriweather', serif;


}

.correct{
    color:  #f2f1e3;
    border: solid #83CCFF 2px;
    border-radius: 20px ;
    font-size: 32px;
    width: 200px;
    height: 50px;
    opacity: 0.4;
   

    
    

}
.incorrect{
    

    color:  #f2f1e3;
    border: solid  #83CCFF  2px;
    border-radius: 20px ;
    font-size: 32px;
    width: 200px;
    height: 50px;
    opacity: 0.4;
    float: right;
    

}





.startbutton{

    opacity: 0.2;
    color: #f2f1e3;
    width:;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
    font-family: 'Merriweather', serif;
    border: solid #83CCFF 2px;
   

}


#tictoc {
    margin: 0;

}

#timer {
   
    color:  #f2f1e3;
    border: solid  #83CCFF  2px;
    margin: 0 auto;
    border-radius: 20px ;
    font-size: 32px;
    width: 200px;
    height: 50px;
    opacity: 0.4;
    margin: 0 auto;
    text-align: center;

   
    
  

}



.button {
    border-radius: 25px;
    border: solid #83CCFF 2px;
    background: ;
    color:   #f2f1e3 ;
    opacity: 0.9;
    margin: auto;
    width: 555PX ;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;
    
}
.button:hover{
    border-radius: 25px;
    border: solid #83CCFF 2px;
    margin: auto;
    background:grey;
    height: 50px;
    width: 555PX;
    margin-top: 32px;
    text-align: center;
    font-size: 32px;
  
}
.question{
    border-radius: 25px;
    color:  #f2f1e3;
    border: solid #83CCFF 2px;
    text-align: center;
    margin: auto;
   width: ;
    height: 50px;  
    margin-top: 20px;
    font-size: 20px;
 
    
}
#gameOver{
    position: absolute;
    visibility: hidden;
}